@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

body {
  background-image: url("slike/pozadina.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Roboto;
  color: #e7e7e7;
}

/* Linkovi */

a{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    transition:0.2s;
    color:white;
}

.navigacija a:hover{
    color:rgb(51, 62, 119);
}

a:active,button:active{
    text-shadow: 2px 2px 30px rgb(0, 0, 0);
}

a[href]:hover{
    border-bottom: 3px solid rgb(51, 62, 119);
}

/* Headeri i tekst */

h1, h2, h3, p, ul, ol, table, label {
    display:block;
    text-align: center;
    margin: 20px auto;
    font-weight: 500;
}

h1 {font-size: 50px;}
h2 {font-size:30px;}
h3 {font-size:25px;}

p, ul, ol, table, label { font-size: 20px;}

p {
    padding-left: 50px;
    padding-right: 50px;
}

em {font-weight: 900;}

span {text-decoration: underline;}

/* Liste */

.paragraf ul, .paragraf ol{
    list-style-position:inside;
}

ol {list-style:upper-roman;}

/* Slike */

img{
    border-radius: 20px;
    display:block;
}

.paragraf img{
    border: 3px solid rgba(25, 119, 169, 0.403)
}

#slika{
    width:400px;
    display:block;
    margin-left:auto;
    margin-right: auto;
}

.markoslika1{
    float:left;
    margin-left: 250px;
    margin-right: 50px;
    clear:both;
}

/* Navigacija */

.navigacija{
    color: #e7e7e7;
    background-color: #383b7131;
    margin: 50px 150px 100px 150px;
    padding: 30px 50px;
    border-radius: 30px;
    text-align: center;
    word-spacing: 50px;
    text-shadow: 1px 1px 3px black;
    transition: 0.5s;
    position: relative;
    top: 20px;
}

/* Paragrafi */

.paragraf {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #e7e7e7;
    background-color: #383b7131;
    margin: 0px 250px 50px 250px;
    padding: 15px 0px;
    border-radius: 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.266);
    box-shadow: 1px 1px 2px rgba(40, 54, 117, 0.347);
    transition: 0.5s;
}

.paragraf:hover,.navigacija:hover{
    background-color: #2e235531;
}

/* Forma.html */

form{
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    display:block;
    text-align: center;
}

button, input, select{
    font-family: Roboto;
    font-weight: 500;
    margin: 20px 0px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.266);
    box-shadow: 1px 1px 2px rgba(40, 54, 117, 0.347);
    border-color: rgba(40, 54, 117, 0.411);
    background-color: #1c257757;
    border-radius: 15px;
    transition:1s;
    color: #ffffffe8;
}

input[type="text"] {color:rgb(255, 176, 116);}

input[type="email"] {color:rgb(255, 150, 69);}

input[type="gradovi"] {color:rgb(255, 124, 23);}

button{
    border:none;
    padding: 15px 40px;
    font-size: 30px;
    cursor: pointer;
}

input{
    border: 2.5px solid rgba(40,54,117,0.411);
    padding: 15px 40px;
    font-size: 20px;
}

input:focus, select:focus, button:hover{
    color: #000000e8;
    background-color: #ffffffd9;
}

fieldset{
    margin: 50px 75px 50px 75px;
    border-radius: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

select{
    border:none;
    padding: 15px 35px;
    font-size: 30px;
    cursor: pointer;
}

/* Tablice */

table{
    display: table;
    width: auto;
    height: auto;
    margin:20px auto;
    padding: 10px;
    text-align: center;
    border: 15px double #ffffffbc;
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 20px;
    cursor: pointer;
}

table td, table th, table tr {
    text-shadow: 1px 1px 5px rgba(0,0,0,0.266);
    transition: 0.1s;
    padding: 5px 15px;
    border: 2px solid #ffffffb4;
    border-radius: 5px;
}

table th {vertical-align:middle;}

td:nth-child(1),thead {background-color: #213556be;}

tbody td:hover,tbody tr:hover {background-color: rgba(255, 153, 0, 0.821);}

