@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

html{
     height: 100%;
}

body {
  background-image: url("slike/pozadina.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Roboto;
  color: #e7e7e7;
  min-height: 100%;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
}

.maska {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 999;
    background: linear-gradient(to bottom, rgba(18, 40, 114, 0.403), transparent)
}

/* Linkovi */

a{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    transition:0.2s;
    color:white;
}

.navigacija a:hover{
    color:rgb(51, 62, 119);
}

a:active,button:active{
    text-shadow: 2px 2px 30px rgb(0, 0, 0);
}

/* Headeri i tekst */

h1, h2, h3, p, ul, ol, table, label {
    display:block;
    text-align: center;
    margin: 20px auto;
    font-weight: 500;
}

h1 {font-size: 50px;}
h2 {font-size:30px;}
h3 {font-size:25px;}

p, ul, ol, table, label { font-size: 20px;}

p {
    max-width:750px;
    padding-left: 50px;
    padding-right: 50px;
}

em {font-weight: 900;}

span {text-decoration: underline;}

/* Liste */

.paragraf ul, .paragraf ol{
    list-style-position:inside;
    padding-left: 0;
    margin:0 auto;
    text-align: center;
}

ol {list-style:upper-roman;}

/* Slike, videi i vektori*/

audio, picture {
    padding: 15px;
}

video {
    border: 2.5px solid rgba(29, 34, 108, 0.423);
    width:85%;
    box-shadow: 0px 0px 50px rgba(29, 34, 108, 0.423);
    border-radius: 20px;
    max-width: 400px;
    margin: 25px;
}

iframe{
    width:85%;
    aspect-ratio: 16/9;
    display: block;
    margin: 15px auto;
    border: 2.5px solid rgba(29, 34, 108, 0.423);
    box-shadow: 0px 0px 50px rgba(29, 34, 108, 0.423);
    border-radius: 20px;
}

#minecraft {
    object-fit: cover;
    width: 60%;
}

img{
    border: 2.5px solid rgba(29, 34, 108, 0.423);
    padding: 0;
    border-radius: 20px;
    display:block;
    max-width: 300px;
    width: 80%;
    height: auto;
    margin: 15px auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 50px rgba(29, 34, 108, 0.423);
    border-radius: 20px;
}

.object-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

object {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

#slika{
    width:400px;
    display:block;
    margin-left:auto;
    margin-right: auto;
}

/* Navigacija */

.navigacija{
    display: flex;
    color: #e7e7e7;
    background-color: #383b7131;
    margin: 50px auto;
    max-width: 1500px;
    width: fit-content;
    padding: 30px 50px;
    border-radius: 30px;
    text-shadow: 1px 1px 3px black;
    transition: 0.5s;
    position: sticky;
    top: 15px;
    margin: 50px auto;
    margin-top: 20px;
    left: 0;
    right: 0;
    gap: 25px;
    z-index: 1000;
    box-shadow: 1px 1px 10px rgb(12, 21, 56, 0.593);
}

.navigacija:hover {
    background-color: #4d4d4d24;
}

/* Paragrafi */

.paragraf {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    color: #e7e7e7;
    background-color: #383b7131;
    width: 85%;
    margin: 50px auto;
    max-width: 1300px;
    padding: 15px 20px;
    border-radius: 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.266);
    box-shadow: 0px 0px 10px rgb(12, 21, 56, 0.593);
    transition: 0.5s;
}

.paragraf:hover, .posebanparagraf:hover, .navigacija:hover{
    background-color: #2e235531;
    box-shadow: 0px 0px 50px rgba(15, 21, 74, 0.41);
}

/* Forma.html */

form{
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    display:block;
    text-align: center;
}

button, input, select{
    font-family: Roboto;
    font-weight: 500;
    margin: 20px 0px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.266);
    box-shadow: 1px 1px 2px rgba(40, 54, 117, 0.347);
    border-color: rgba(40, 54, 117, 0.411);
    background-color: #1c257757;
    border-radius: 15px;
    transition:1s;
    color: #ffffffe8;
}

input[type="text"] {color:rgb(255, 176, 116);}

input[type="email"] {color:rgb(255, 150, 69);}

input[type="gradovi"] {color:rgb(255, 124, 23);}

button{
    border:none;
    padding: 15px 40px;
    font-size: 30px;
    cursor: pointer;
}

input{
    border: 2.5px solid rgba(40,54,117,0.411);
    padding: 15px 40px;
    font-size: 20px;
}

input:focus, select:focus, button:hover{
    color: #000000e8;
    background-color: #ffffffd9;
}

fieldset{
    margin: 50px 75px 50px 75px;
    border-radius: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

select{
    border:none;
    padding: 15px 35px;
    font-size: 30px;
    cursor: pointer;
}

/* Tablice */

table{
    width: 85%;
    max-width: 100%;
    box-sizing: border-box;
    table-layout: fixed;
    display: table;
    height: auto;
    margin:0 auto;
    padding: 10px;
    text-align: center;
    border: 15px double #ffffffbc;
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 20px;
    cursor: pointer;
}

table td, table th, table tr {
    text-shadow: 1px 1px 5px rgba(0,0,0,0.266);
    transition: 0.1s;
    padding: 5px 10px;
    border: 2px solid #ffffffb4;
    border-radius: 5px;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
}

table th {vertical-align:middle;}

td:nth-child(1),thead {background-color: #213556be;}

tbody td:hover,tbody tr:hover {background-color: rgba(255, 153, 0, 0.821);}

/* Dno */

.dnonastavak {
    display: flex;
    align-items: flex-start;
    max-width: 1300px;
    width: 85%;
    margin: 50px auto;
    gap: 20px;
}

.markoslika1 {
    width: 250px;
    height: auto;
    border: 2.5px solid rgba(29, 34, 108, 0.423);
    box-shadow: 0px 0px 50px rgba(29, 34, 108, 0.423);
    border-radius: 20px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

.posebanparagraf{
    flex: 1;
    background-color: #383b7131;
    padding: 15px 20px;
    border-radius: 30px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 1px 1px 10px rgb(12, 21, 56, 0.593);
    transition: 0.5s;
}

/* Za manje ekrane */

@media (max-width: 800px) {

    body {
        background-image: url("slike/pozadina.jpg");
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;
    }

    .navigacija {
        top:20px;

    }

    .navigacija, .paragraf {
        margin-left: auto;
        margin-right: auto;
        max-width: 95%;
        min-width: 300px;
        max-width: 350px;
        box-sizing: border-box;
    }

    .navigacija {
        margin: 20px auto;
        padding: 20px;
        word-spacing: 20px;
        text-align: center;
        position: sticky;
        top: 30px;
    }

    .paragraf {
        display: flex;
        margin: 50px auto;
        padding: 15px;
        flex-direction: column;
        align-items: center;
        max-width: 350px;
    }

    #minecraft, video {
        margin: 5px;
        width: 90%;
        height: auto;
    }


    #slika, .paragraf img, iframe, .markoslika1{
        width: 100%;
        max-width: 100%;
        height: 400px;
        margin: 15px auto;
        float: none;
        display: block;
        object-fit: cover;
        padding: 0;
    }

    .markoslika1 {
        max-width: 350px;
    }

    h1, h2, h3, p, img, table, embed, object {
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 { font-size: 45px; }
    h2 { font-size: 30px; }
    h3 { font-size: 25px; }
    p, ul, ol, table, label { font-size: 20px;}

    .paragraf table {
        display: block;
        overflow-x: auto;
    }

    table {
        width: 95%;
        max-width: 600px;
        font-size: 14px;
        padding: 10px;
    }

    table td, table th {
        padding: 5px 6px;
        font-size: 14px;
    }

    form input, form select, form button{
        width: 90%;
        max-width: 400px;
        box-sizing: border-box;
    }

    form fieldset {
        padding-left: 20px;
        padding-right: 20px;
        margin: 0px;
    }

    form {
        margin: 0px;
        padding: 10px;
    }

    form h1 { font-size: 28px; }
    form h2 { font-size: 20px; }
    form input, form select, form button { font-size: 18px; }

    .dnonastavak {
        display: flex;
        flex:none;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 20px auto;
    }

    .posebanparagraf{
        width:auto;
        max-width: 350px;
        float: none;
        flex: none;
        display: block;
        margin: 10px auto;
    }

}
